In [1]:
import pandas as pd

In [2]:
# UserID::MovieID::Rating::Timestamp
ratings_data = pd.read_csv("raw/ml-1m/ratings.dat", sep="::", names=['UserID', 'MovieID', 'Rating', 'Timestamp'])
# MovieID::Title::Genre1|Genre2|Genre3
movies_data = pd.read_csv("raw/ml-1m/movies.dat", sep="::", names=['MovieID', 'Title', 'Genres'])

/var/folders/nb/mtr544q50k388rbnch13x9dm0000gn/T/ipykernel_99600/1802277514.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  ratings_data = pd.read_csv("raw/ml-1m/ratings.dat", sep="::", names=['UserID', 'MovieID', 'Rating', 'Timestamp'])
/var/folders/nb/mtr544q50k388rbnch13x9dm0000gn/T/ipykernel_99600/1802277514.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  movies_data = pd.read_csv("raw/ml-1m/movies.dat", sep="::", names=['MovieID', 'Title', 'Genres'])

In [3]:
ratings_data.head()

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [4]:
movies_data.head()

   MovieID                               Title                        Genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [9]:
# convert user and item ids to user and item index (from 0 to n: the number of users/items)

uid_to_uidx = dict()
iid_to_iidx = dict()

# user and item index counter
uidx_cnt = 0
iidx_cnt = 0

for eachsample in ratings_data.itertuples(index=True):
    # users index
    if eachsample.UserID not in uid_to_uidx.keys():
        uid_to_uidx[eachsample.UserID] = uidx_cnt
        uidx_cnt += 1

    # items index
    if eachsample.MovieID not in iid_to_iidx.keys():
        iid_to_iidx[eachsample.MovieID] = iidx_cnt
        iidx_cnt += 1

In [13]:
# to write the rating data using new indices

dataset_data = open("raw/MovieLens1M_data_map.txt", 'w')

for eachsample in ratings_data.itertuples(index=True):
    dataset_data.write(f"{str(uid_to_uidx[eachsample.UserID])},{str(iid_to_iidx[eachsample.MovieID])},{str(eachsample.Rating)}\n")

dataset_data.close()

In [14]:
from collections import defaultdict
category_data = set()

for eachsample in movies_data.itertuples(index=True):
    categories = eachsample.Genres.split('|')
    for category in categories:
        category_data.add(category)

In [16]:
# to write the movie data using new indices

cat_data = open("raw/MovieLens1M_cat_map.txt", 'w')

for eachsample in movies_data.itertuples(index=True):
    if eachsample.MovieID in iid_to_iidx.keys():
        cat_data.write(f"{str(iid_to_iidx[eachsample.MovieID])},{str(eachsample.Genres)}\n")

cat_data.close()

In [19]:
size_data = open("raw/MovieLens1M_size_raw.txt", 'w')
size_data.write(f"{str(len(uid_to_uidx))},{str(len(iid_to_iidx))},{str(len(category_data))}")
size_data.close()