In [1]:
import pandas as pd

In [8]:
ratings_data = pd.read_csv("raw/ml-latest-small/ratings.csv")
# category: Movie Geners
movies_data = pd.read_csv("raw/ml-latest-small/movies.csv")

In [3]:
ratings_data.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
movies_data.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
# convert user and item ids to user and item index (from 0 to n: the number of users/items)

uid_to_uidx = dict()
iid_to_iidx = dict()

# user and item index counter
uidx_cnt = 0
iidx_cnt = 0

for eachsample in ratings_data.itertuples(index=True):
    # users index
    if eachsample.userId not in uid_to_uidx.keys():
        uid_to_uidx[eachsample.userId] = uidx_cnt
        uidx_cnt += 1

    # items index
    if eachsample.movieId not in iid_to_iidx.keys():
        iid_to_iidx[eachsample.movieId] = iidx_cnt
        iidx_cnt += 1

In [6]:
# to write the rating data using new indices

dataset_data = open("MovieLensSmall_data.txt", 'w')

for eachsample in ratings_data.itertuples(index=True):
    dataset_data.write(f"{str(uid_to_uidx[eachsample.userId])},{str(iid_to_iidx[eachsample.movieId])},{str(eachsample.rating)}\n")

dataset_data.close()

In [7]:
# to write the movie data using new indices

genre_data = open("MovieLensSmall_genre.txt", 'w')

for eachsample in movies_data.itertuples(index=True):
    if eachsample.movieId in iid_to_iidx.keys():
        genre_data.write(f"{str(iid_to_iidx[eachsample.movieId])},{str(eachsample.genres)}\n")

genre_data.close()

In [9]:
len(iid_to_iidx.keys())

9724